.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.firstViewHeightVid {
  display: flex;
  margin-top: -200px;
  background: url();
  background-size: cover;
  height: 115.5vh;
  color: var(--black);
  font-weight: bold;
}
.table {
  height: 110vh;
  background-color: black;
  margin-top: -924px;
  border: black;
  border-radius: 0px;
  color: red;
  padding-top: 0;
  padding-bottom: 0;
}

.container-fluid {
  margin-left: 10px;
  background-color: black;
  margin: -10px;
  padding: 0;
  margin-left: 0px;
}

.video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
}
.countryRow{
  color: white;
  text-align: center;
  font-weight:bolder;
}
.usRow {
  color: white;
  margin: auto;
  font-weight:bolder;
  text-align: center;
}
.chinaRow {
  color: white;
  margin: auto;
  font-weight:bolder;
  text-align: center;
}
.russiaRow {
  color: white;
  margin: auto;
  font-weight:bolder;
  text-align: center;
}
.globalRow {
  color: white;
  margin: auto;
  font-weight:bolder;
  text-align: center;
}
.chinaRow{
  color:white;
  text-align: center;
}
.russiaRow{
  color: white;
  text-align: center;

}
.globalRow{
  color: white;
  text-align: center;
}

.usNew{
  color: lightgreen;
  text-align: center;
}
.chinaNew{
  color: lightgreen;
  text-align: center;
}
.russiaNew{
  color: lightgreen;
  text-align: center;
}
.globalNew{
  color: lightgreen;
  text-align: center;
}

.usConfirm{
  color: lightskyblue;
  text-align: center;
}
.chinaConfirm{
  color: lightskyblue;
  text-align: center;
}
.russiaConfirm{
  color: lightskyblue;
  text-align: center;
}
.globalConfirm{
  text-align: center;
  color: lightskyblue;
  text-align: center;
}
.col {
  color: lightgreen;
  margin: auto;
  text-align: center;
}
.col2{
  color: lightskyblue;
  text-align: center;
}
.lastCol{
  color: red;
  text-align: center;
}

.usDeath {
  color: red;
  text-align: center;
}
.chinaDeath {
  color: red;
  text-align: center;
}
.russiaDeath {
  color: red;
  text-align: center;
}
.globalDeath {
  color: red;
  text-align: center;
}
.footer {
  height: 100px;
  border: maroon;
  background-color: red;
  text-align: center;
  margin-top: -17px;
  padding: 0;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 700;
    line-height: 6;
    color: white;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
